/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@300&display=swap');

body{

color:white;
font-family: "Times New Roman", Times, serif;
background-image:url(https://images.pexels.com/photos/2047905/pexels-photo-2047905.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260)}
h1{
    color:white;
    text-align: center;
    text-decoration: underline;
    
}
input[type="text"],#author,input[type="submit"]{
    background-color: transparent;
    color:white;
    text-align: center;
}


